<div id="top_list">
  <div class="card deep-orange lighten-5">
    <div class="card-content black-text">
      <span class="card-title black-text" id="list_title">Card Title</span><br>
      <span class="card-title black-text" id="list_description">Card Title</span><br>
      <span class="card-title black-text" id="task_header">Tasks:</span>
      <div id="new_task_button"></div>
      <table>
        <tr>
          <td><div id="sort_status_button"></div></td>
          <td><div id="sort_title_button"></div></td>
          <td><div id="sort_due_button"></div></td>
        </tr>
      </table>
      <ul id="list_tasks">
      </ul>
    </div>
    <div class="card-action">
      <div id="show_edit_list_button"></div>
      <div id="delete_list_button"></div>
    </div>
  </div>
</div>

<div id="new_list">
  <div class="card deep-orange lighten-5">
    <div class="card-content black-text">
        Title:<br>
        <input type="text" name="firstname" id="new_list_title">
        <br>
        Description:<br>
        <input type="text" name="lastname" id="new_list_description">
        <button class="waves-effect waves-light btn red lighten-1 list-btn" id="new_list_button">Create List!</button>  
    </div>
  </div>
</div>

<div id="edit_list">
  <div class="card deep-orange lighten-5">
    <div class="card-content black-text">
        Title:<br>
        <input type="text" name="firstname" id="update_list_title">
        <br>
        Description:<br>
        <input type="text" name="lastname" id="update_list_description">
        <div id="edit_list_button"></div>
    </div>
  </div>
</div>