<%= render partial: 'nav', locals: { nickname: @user.nickname, image_url: @user.image_url } %>

<div class="container">
  <div class="row" id="main_page">
    <div class="col s4" id="lists">
      <%= render partial: 'lists' %>
    </div>
    <div class="col s8" id="list_view">
      <%= render partial: 'list_view' %>
    </div>
  </div>
</div>

<div id='user_id'><%= @user.id %></div>
