.brand-logo {
  margin-left: 20px;
}

#nav_image {
  position: absolute;
  top: 17px;
  right: 20px;
}

.fingernail {
  width: 40px;
  border-radius: 15px;  
  border: solid white 2px;
}

#guest_message {
  position: absolute;
  right: 20px;
  top: -35px;
  font-size: 110%;
}

#user_message {
  position: absolute;
  right: 65px;
  top: -35px;
  font-size: 110%; 
}

#login-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

#logout-btn {
  position: absolute;
  right: 65px;
  top: 20px;
}

.github-btn {
  font-size: 90%;
  color: #00CCFF;
}

.github-btn:hover {
  color: white;
}

#user_image img {
  width: 60px;
}

#user_id {
  visibility: hidden;
}

#lists {
  margin-top:20px;
}

#list_view {
  margin-top: 40px;
}

#create_list:hover {
  color: #01579b;
}

#list_description {
  font-size: 115%;
}

#task_header {
  font-size: 115%; 
}

.list-btn {
  width: 160px;
  margin: 5px;
  text-align: center;
}

.task-btn {
  font-size: 60%;
  width: 100px;
  height: 25px !important;
  margin: 5px;
}

#error_message {
  display: none;
  opacity: .6;
  position: absolute;
  width: 250px;
  height: 25px;
  background-color: #ff4081;
  top: 65px;
  right: calc(50% - 50px);
  text-align: center;
  color: white;
  border-radius: 15px;  
}

#task_title {
  font-size: 100%;
}

#task_notes {
  font-size: 90%;
}

#task_status {
  font-size: 90%;
}

#task_image {
  font-size: 90%;
}